<h1>Heroe <small>Nombre del Heroe</small></h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink='/heroes'>
            <i class="fas fa-arrow-alt-circle-left"></i>
            Regresar
        </button>

    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar(f)" #f="ngForm">
            <div class="form-group">
                <label for="">Firebase ID</label>
                <input disabled="disabled" type="text" name="id"  class="form-control" aria-describedby="helpId"
                    placeholder="FireBase Id" [(ngModel)]="heroe.id">
                <small id="helpId" class="form-text text-muted">Campo Autogenerado</small>
            </div>

            <div class="form-group">
                <label for="">Nombre</label>
                <input  type="text" name="nombre"  class="form-control" aria-describedby="helpId"
                    placeholder="Nombre del heroe" required [(ngModel)]="heroe.nombre">
                <small id="helpId" class="form-text text-muted">Campo Autogenerado</small>
            </div>

            <div class="form-group">
                <label for="">Poder</label>
                <input  type="text" name="poder" class="form-control" aria-describedby="helpId"
                    placeholder="Poder del heroe" [(ngModel)]="heroe.poder">
                <small id="helpId" class="form-text text-muted">Campo Autogenerado</small>
            </div>

            <div class="form-group">
                <label for="">Estado</label>
                <br>
                <button *ngIf="heroe.vivo" (click)="heroe.vivo=false" type="button" class="btn btn-outline-success w-50">
                    <i class="fas fa-smile-wink"></i>
                    Vivo
                </button>
                <button *ngIf="!heroe.vivo" (click)="heroe.vivo=true"  type="button" class="btn btn-outline-danger w-50">
                    <i class="fas fa-dizzy"></i>
                    Muerto
                </button>
            </div>

            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                    <i class="fas fa-save"></i>
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>